.page.theme_dark {
  --accent-color: #ff0070;
  --accent-head-color: #db00ff;
  --cover-image: url(../images/cover-image-dark.png);
  --accent-text-color: #ff0070;
  --basic-text-color:#F1B2CE;
  --attention-text-color: #000028;
  --accent-color-button: #FF0070;
  --menu-active:#FF0070;
  --angle-color: #FF0070;
  --decor-icon-display: flex;
  --focus-color: #FF0070;
  --button-hover-color: rgb(255 0 112 / 0.40);
}

@media (prefers-color-scheme: dark) {

  :root {
    --accent-color: #ff0070;
    --accent-head-color: #db00ff;
    --cover-image: url(../images/cover-image-dark.png);
    --accent-text-color: #ff0070;
    --basic-text-color:#F1B2CE;
    --attention-text-color: #000028;
    --accent-color-button: #FF0070;
    --menu-active:#FF0070;
    --angle-color: #FF0070;
    --decor-icon-display: flex;
    --focus-color: #FF0070;
    --button-hover-color: rgb(255 0 112 / 0.40);
  }
}

