/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* stylelint-disable-next-line rule-empty-line-before */
:root {
  --accent-color: #ff0070;
  --accent-color-button: #FF0070;
  --accent-head-color: #db00ff;
  --cover-image: url(../images/cover-image-dark.png);
  --accent-text-color: #ff0070;
  --basic-text-color:#F1B2CE;
  --gap: 20px;
  --main-font: 'IBM Plex mono';
  --fontsize-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --fontsize-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --button-hover-color: #FF0070;
  --menu-active:#FF0070;
  --accent-color-shadow: #FF0070;
  --decor-icon-display: flex;
}